<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum officiis voluptate officia
      inventore in sit nemo, nostrum maxime eum labore?
    </p>
  </div>
  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">Lorem, ipsum dolor.</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, magnam. Voluptatem, repellat!
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="conatiner">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum officiis voluptate officia
      inventore in sit nemo, nostrum maxime eum labore?
    </p>
  </div>
</section>
